//
// Lightbox and image viewer
//

// Lightbox

.lightbox-open {
  overflow: hidden;
  .lightbox {
    overflow: auto;
  }
}

.lightbox {
  position: fixed;
  background: $background-color;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;

  header,
  .essay-home-title {
    display: none !important;
  }
}

// Image viewer

.image-viewer-open {
  overflow: hidden;
  .lightbox {
    overflow: hidden;
  }
}

.image-viewer {
  position: fixed;
  background: $background-color;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  cursor: pointer;

  img {
    cursor: auto;
    max-height: 100%;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-viewer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
