// Franklin Gothic Demi
@font-face {
  font-family: 'FranklinGothicMedCd';
  src: url('../../../fonts/FranklinCondITCPro-Bold.eot');
  src: url('../../../fonts/FranklinCondITCPro-Bold.eot') format('embedded-opentype'),
       url('../../../fonts/FranklinCondITCPro-Bold.ttf') format('truetype'),
       url('../../../fonts/FranklinCondITCPro-Bold.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Plantin
@font-face {
  font-family: 'plantin';
  src: url('../../../fonts/PlantinStd.eot');
  src: url('../../../fonts/PlantinStd.eot') format('embedded-opentype'),
       url('../../../fonts/PlantinStd.ttf') format('truetype'),
       url('../../../fonts/PlantinStd.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Plantin italic
@font-face {
  font-family: 'plantin';
  src: url('../../../fonts/PlantinStd-Italic.eot');
  src: url('../../../fonts/PlantinStd-Italic.eot') format('embedded-opentype'),
       url('../../../fonts/PlantinStd-Italic.ttf') format('truetype'),
       url('../../../fonts/PlantinStd-Italic.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

// Plantin bold
@font-face {
  font-family: 'plantin';
  src: url('../../../fonts/PlantinStd-Bold.eot');
  src: url('../../../fonts/PlantinStd-Bold.eot') format('embedded-opentype'),
       url('../../../fonts/PlantinStd-Bold.ttf') format('truetype'),
       url('../../../fonts/PlantinStd-Bold.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Plantin bold italic
@font-face {
  font-family: 'plantin';
  src: url('../../../fonts/PlantinStd-BoldItalic.eot');
  src: url('../../../fonts/PlantinStd-BoldItalic.eot') format('embedded-opentype'),
       url('../../../fonts/PlantinStd-BoldItalic.ttf') format('truetype'),
       url('../../../fonts/PlantinStd-BoldItalic.svg#webfont') format('svg');
  font-weight: bold;
  font-style: italic;
}
